body {
  text-align: center;
}
div.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.card {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 10px 10px;
  background-color: darkgray;
}
div.card img {
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}
.favorites-container {
  background-color: rgba(241, 224, 65, 0.788);
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
.favorites-container h2 {
  text-align: center;
  display: block;
  width: 100%;
}
div.fav-cards {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
}
